.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#count{
  font-weight: bolder;
  font-size: 3rem;
}

button{
  color: black;
  font-size: 1rem;
  padding: 10px 15px;
  background-color: aqua;
  border-width: 1px;
  border-radius: 5px;
}

.buttons > button{
  margin-right: 5px;
}

input {
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
}