body {
  background-color: #f3f4f6d7;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px;
}

.card {
  width: 300px;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

h1 {
  color: black;
  font-size: 1.5rem;
}

.Counter,
.Guess-Number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#count {
  font-weight: bolder;
  font-size: 3rem;
}

button {
  color: black;
  font-size: 1rem;
  padding: 10px 15px;
  background-color: aqua;
  border-width: 1px;
  border-radius: 5px;
}

.buttons>button {
  margin-right: 5px;
}

input {
  font-size: 1rem;
}

.Guess-Number>input {
  width: 150px;
  margin-bottom: 10px;
}

.String,
.Telephone {
  text-align: center;
  margin: auto;
  width: 600px;
}

.String>input {
  width: 600px;
  margin-bottom: 30px;
}

.String>.box {
  position: relative;
  background-color: #F5F5DC;
  height: 60px;
  width: 600px;
  margin-bottom: 20px;
}

.String>.box>.label {
  position: absolute;
  top: -20%;
  left: 4%;
  background-color: black;
  height: 20px;
  color: white;
  font-size: 13px;
  text-align: center;
  padding: 1px 3px;
}

.String>.box>p {
  position: absolute;
  left: 4%;
  top: 5%;
}

.Telephone>input {
  width: 300px;
}

.Toast {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 20px;
  margin-top: 50px;
}

.Toast>* {
  width: 250px;
  padding: 10px 5px;
}

.Toast>input {
  height: 15px;
}

.Toast>.message {
  width: 200px;
  height: 15px;
}

.Toast>.duration-slider {
  display: flex;
  gap: 10px;
}

.Toast>.duration-slider>input {
  width: 130px;
}